.header {
  padding: 20px;
  background-color: rgb(102,166,243);
  display: flex;
  color: white;
  align-items: center;
}

.header h1 {
  margin-right: 125px;
}

.header h2 {
  margin-right: 20px;
}

.header a{
  text-decoration: none;
  color:inherit;
}

.sub-header{
  background-color: #DDDEE0;
  margin: 20px;
  color: #54585E;
  padding: 10px;
}

.main-content h2{
  margin:20px;
  color:#1369BD;
}

.main-content p{
  margin:20px;
}

.likes-bar{
  background-color: #F1902D;
  display:flex;
  margin:20px;
}

.likes-bar p{
  margin-left: 10px;
  margin-right:40px;
  color:white;
}
